body
{
  margin: 0;
  padding: 0;
  height: 100vh;
}
main
{
  height: 200vh;
  background-color: pink;
}
.d-t
{
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background: pink;
  display: table-row;
}
.d-f
{
  border: 1px solid black;
  width: 300px;
  height: 100px;
  background: lightBlue;
  display: table-row;
}
.d-c
{
  border: 1px solid black;
  width: 150px;
  height: 100px;
  background: lightCoral;
  display: table-cell
}
main
{
  color:red;
}
